<!DOCTYPE html>
<html>
<head>
    <!-- build:process --><title><%= title%></title><!-- /build -->
</head>
<body>
    <div id="banner-200x446-6" style="position:absolute; left:197px;"></div>
        <!-- build:process --><script type="text/javascript" src="<%= script %>"></script><!-- /build -->
</body>
</html>