<!DOCTYPE html>
<html>
    <head>
        <!-- build:process --><title><%= title %></title><!-- /build -->
    </head>
<body>
    <div id="banner-1190x70-2-Area" style="position:absolute; top:380px; left:190px;">
        <!-- build:process --><script type="text/javascript" src="<%= script %>"></script><!-- /build -->
    </div>
</body>
</html>