<!DOCTYPE html>
<html>
    <head>
        <!-- build:process --><title><%= title %></title><!-- /build -->
    </head>
<body>
    <div id="banner-300x250-5">
        <!-- build:process --><script type="text/javascript" src="<%= script %>"></script><!-- /build -->
    </div>
</body>
</html>