<!DOCTYPE html>
<html>
    <head>
        <!-- build:process --><title><%= title %></title><!-- /build -->
    </head>
<body>
    <div id="banner-200x446-6" style="position:absolute; top:60px; left:1187px;">
        <!-- build:process --><script type="text/javascript" src="<%= script %>"></script><!-- /build -->
    </div>
</body>
</html>